body{
	background-color: white;
}

#container{
	width: 600px;
	height: 600px;
	margin: 0 auto;
	border: 2px solid black;
	position: relative;
}

.row{
	display: inline;
}

#header{
	margin: 0 auto;
	text-align: center;
	margin-bottom: 20px;
}

#id1, #id2, #id3, #id4, #id5, #id6, #id7,#id8,#id9{
	width: 200px;
	height: 200px;
	text-align: center;
	border: 2px solid blue;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	float: left;
}

span{
	height: 200px;
	margin: 0 auto;	
	border: 1px solid black;
	display: block;
}

#gamePromote{
	width: 600px;
	display: none;
	position: absolute;
	z-index: 2;
	margin: 0 auto;
	background: lightyellow;
	top: 300px;
	left: 300px;
}

#game-results,#you-win,#you-lost{
	display: none;
}


button{
	width: 50px;
	height: 30px;
}
